<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, minimum-scale=1, shrink-to-fit=no, viewport-fit=cover, width=device-width">

    <title>
      {% if page.title == nil %}
      InfoSec & FOSS Developer
      {% else %}
      {{ page.title }}
      {% endif %}
      - Rifa Achrinza
      {% if page.layout == "post" %}
      Blog
      {% endif %}
    </title>
    <link rel="stylesheet" href="{{ '/assets/css/commons.css' | relative_url }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/fontawesome.min.css" integrity="sha512-B46MVOJpI6RBsdcU307elYeStF2JKT87SsHZfRSkjVi4/iZ3912zXi45X5/CBr/GbCyLx6M1GQtTKYRd52Jxgw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/brands.min.css" integrity="sha512-EJp8vMVhYl7tBFE2rgNGb//drnr1+6XKMvTyamMS34YwOEFohhWkGq13tPWnK0FbjSS6D8YoA3n3bZmb3KiUYA==" crossorigin="anonymous" referrerpolicy="no-referrer">
  </head>
  <body itemscope itemtype="https://schema.org/WebPage">
<!--    <nav class="nav-container">
      <ul class="nav">
	<li class="nav-item">Home</li>
	<li class="nav-item">Blog</li>
      </ul>
    </nav>-->
    
    {{ content }}
  </body>
</html>
