<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="{{page.excerpt | strip_html}}">
    <meta name="viewport" content="initial-scale=1.0, shrink-to-fit=no, viewport-fit=cover, width=device-width">

    {% assign title = "" -%}
    {% if page.title == nil -%}
      {% assign title = title | append: "InfoSec & FOSS Developer" -%}
    {% else -%}
      {% assign title = title | append: page.title -%}
    {% endif -%}
    {% assign title = title | append: "- Rifa Achrinza" -%}
    {% if page.layout == "post" -%}
      {% assign title = title | append: "Blog" -%}
    {% endif -%}
    
    <title>{{ title }}</title>

    {% if site.env.UMAMI_WEBSITE_ID != nil -%}
    <script defer src="https://cloud.umami.is/script.js" data-website-id="{{ site.env.UMAMI_WEBSITE_ID }}"></script>
    {% endif -%}

    {% if site.env.site.env.GTM_ID -%}
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{ site.env.GTM_ID }}');</script>
    <!-- End Google Tag Manager -->
    {% endif -%}

    <link rel="stylesheet" href="{{ '/assets/css/commons.css' | relative_url }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/fontawesome.min.css" integrity="sha512-B46MVOJpI6RBsdcU307elYeStF2JKT87SsHZfRSkjVi4/iZ3912zXi45X5/CBr/GbCyLx6M1GQtTKYRd52Jxgw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/solid.min.css" integrity="sha512-/r+0SvLvMMSIf41xiuy19aNkXxI+3zb/BN8K9lnDDWI09VM0dwgTMzK7Qi5vv5macJ3VH4XZXr60ip7v13QnmQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/brands.min.css" integrity="sha512-EJp8vMVhYl7tBFE2rgNGb//drnr1+6XKMvTyamMS34YwOEFohhWkGq13tPWnK0FbjSS6D8YoA3n3bZmb3KiUYA==" crossorigin="anonymous" referrerpolicy="no-referrer">
  </head>
  <body itemscope itemtype="https://schema.org/WebPage">
    {% if site.env.site.env.GTM_ID -%}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.env.GTM_ID }}"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% endif -%}

<!--    <nav class="nav-container">
      <ul class="nav">
	<li class="nav-item">Home</li>
	<li class="nav-item">Blog</li>
      </ul>
    </nav>-->
    
    {{ content }}
  </body>
</html>
